.layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
    border: solid 1px gray;
}

.header {
    font-size: 30px;
}

.footer {
    text-align: center;
}

.sidebarHeader {
    font-size: 20px;
}

.sidebar ul {
    padding-left: 20px;
}

a, a:visited {
    color: darkgreen;
}

.edit-form__fieldset {
  display: flex;
  border: none;
  flex-direction: column;
  /* row-gap: 1vh; */
}

label, button {
  margin-top: 1vh;
}

.edit-form__textarea {
  resize: none;
}